<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <h1>Python Code Runner</h1>
  <% if (problem.prompt) { %>
  <h2>Prompt:</h2>
  <p>
    <%= problem.prompt %>
  </p>
  <% } %>
  <div id="precode" class="codebox">
    <pre><%= problem.precode %></pre>
  </div>
  <textarea id="usercode" class="codebox"><%- problem.usercode %></textarea>
  <div id="postcode" class="codebox">
    <pre><%= problem.postcode %></pre>
  </div>
  <button id="run">Run</button>
  <h2>Output:</h2>
  <div id="outputBox">
    <pre id="output"></pre>
  </div>

</body>
<script>
  const precode = document.getElementById('precode');
  const postcode = document.getElementById('postcode');
  const usercode = document.getElementById('usercode');
  const output = document.getElementById('output');
  const socket = io();

  socket.on('connect', () => {
    console.log('Connected to server');
  });

  socket.on('disconnect', () => {
    console.log('Disconnected from server');
  });

  socket.on('output', (data) => {
    output.textContent = data.output || data.error;
  });

  document.getElementById("run").addEventListener("click", () => {
    socket.emit('run_code', usercode.value);
  });

  usercode.addEventListener("keydown", function(e) {
    if (e.key === "Tab") {
      e.preventDefault();
      const start = this.selectionStart;
      const end = this.selectionEnd;
      this.value = this.value.substring(0, start) + "\t" + this.value.substring(end);
      this.selectionStart = this.selectionEnd = start + 1;
    }
  });

  usercode.addEventListener('input', function() {
    this.style.height = 'auto';
    this.style.height = (this.scrollHeight) + 'px';
  });
</script>

</html>