#content {
    /* margin: auto; */
    overflow-x: hidden;
}

.codebox {
    height: auto;
    overflow: auto;
    margin: 0px;
    padding: 5px;
    tab-size: 2;
    -moz-tab-size: 2;
}

#problemPrompt {
    height: auto;
    overflow: auto;
    margin: 0px;
    padding: 5px;
}

#precode {
    border-width: 1px 1px 0px 1px;
    border-radius: 5px 5px 0px 0px;
    border-style: solid;
    border-color: #000;
    background-color: #ddd;
}

#usercode {
    width: calc(100% - 12px); /* 100% width minus left and right padding and border */
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #000;
    min-height: 50px;
    resize: none; /* Disable resize handle */
    overflow: hidden;
    padding: 5px;
    margin: 0px;
}

#postcode {
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 5px 5px;
    border-style: solid;
    border-color: #000;
    background-color: #ddd;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}